<?xml version="1.0"?>
<ruleset name="SignDocs Brasil WP Plugin">
    <description>PHPCS ruleset (WordPress-Extra + Docs + PHPCompatibilityWP)</description>

    <file>src</file>

    <arg name="extensions" value="php"/>
    <arg name="colors"/>
    <arg value="sp"/>
    <arg name="parallel" value="4"/>

    <config name="minimum_supported_wp_version" value="6.0"/>
    <config name="testVersion" value="8.1-"/>

    <rule ref="WordPress-Extra">
        <exclude name="Generic.Arrays.DisallowShortArraySyntax"/>
        <exclude name="WordPress.Files.FileName"/>
        <exclude name="Universal.Operators.DisallowShortTernary.Found"/>
        <exclude name="WordPress.NamingConventions.ValidVariableName.UsedPropertyNotSnakeCase"/>
    </rule>

    <rule ref="WordPress.WP.I18n">
        <properties>
            <property name="text_domain" type="array" value="signdocs-brasil"/>
        </properties>
    </rule>

    <rule ref="PHPCompatibilityWP"/>
</ruleset>
